.App {
  text-align: center;
  width: 400px;
}

.man-img {
  height: 40vmin;
  pointer-events: none;
  width: 50%;
  margin: 0 auto;
}
.title-img {
  width: 80%;
  margin: 50px auto 30px;
}
h1,h3 {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }*/
}

.App-header {
  background-color: transparent;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.btn-cnt {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin:50px 0;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
